@import '../../scss/config';

.avatar {
  z-index: 1;
  cursor: pointer;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media all and (min-width: $breakpoint-m) {
  .avatar {
    svg {
      height: 5rem;
      width: 5rem;
    }
  }
}
