// Fonts:
$font-monserant: 'Montserrat', sans-serif;

// Top / Bottom margins:
$margin-vertical-small: 3.25rem;                  // 52px
$margin-vertical-medium: 4rem;                    // 64px
$margin-vertical-large: 6rem;                     // 80px
$margin-vertical-xlarge: 7.5rem;                  // 120px

// Side margins:
$margin-horizontal-small: 2rem;                   // 32px
$margin-horizontal-medium: 3rem;                  // 48px
$margin-horizontal-large: 5rem;                   // 80px

// Maximum widths:
$width-small: 33.75rem;                           // 540px
$width-medium: 54.375rem;                         // 870px
$width-large: 75rem;                              // 1200px

// Responsive breakpoints:
$breakpoint-xs: 23.4375rem;                       // 375px (iPhone)
$breakpoint-s: 30rem;                             // 480px
$breakpoint-sm: 40rem;                            // 640px
$breakpoint-m: 48rem;                             // 768px
$breakpoint-l: 64rem;                             // 1024px
$breakpoint-xl: 75rem;                            // 1200px
$breakpoint-xxl: 90rem;                           // 1440px
$breakpoint-xxxl: 120rem;                         // 1920px
