@import '../../scss/colors';
@import '../../scss/config';

.sticky-button {
  position: fixed;
  bottom: 2.1875rem;
  right: 2.1875rem;

  display: block;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;

  background: $color-blue;
  color: $color-white;

  font-style: italic;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  outline: none;
  border: none;

  cursor: pointer;

  box-shadow: 0 20px 40px -20px rgba(50, 50, 93, .3);

  &--green {
    background: $color-green;
  }

  &:hover {
    opacity: .8;
  }

  &__disabled {
    cursor: default;
    background: $color-gray;

    &:hover {
      opacity: 1;
    }
  }
}

@media all and (min-width: $breakpoint-m) {
  .sticky-button {
    bottom: 2.1875rem;
    right: 15%;
  }
}
