@import '../../scss/colors';
@import '../../scss/config';

.card-conatiner {
  height: 100%;
}

.card {
  transition: all 500ms ease-in-out;
  margin-bottom: 2.5rem;
  box-shadow: 0 8px 24px rgba(149, 157, 165, .2);

  p {
    margin-bottom: 0;
    text-align: left;
  }

  &__svg {
    position: absolute;

    top: 50%;
    left: 50%;

    z-index: 1;

    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%);
    fill: $color-white;

    &--single {
      width: 3rem;
      height: 2.8rem;
    }
  }

  &__image-container {
    position: relative;
  }

  &__text {
    padding: 1.25rem;

    &--blue {
      color: $color-light-blue;
    }

    &--green {
      color: $color-light-green;
    }
  }

  &__image {
    display: block;

    height: 6.875rem;
    width: 100%;
    object-fit: cover;

    filter: brightness(50%);

    img {
      display: block;
    }
  }
}

@media all and (min-width: $breakpoint-l) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    height: 11.875rem;
    width: 19.0625rem;

    padding-bottom: 0;
    cursor: pointer;

    margin-bottom: 0;

    p {
      line-height: 20px;
      white-space: pre;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &__image {
      height: 110px;
      width: 100%;
    }
  }
}
