@import "../../scss/config";
@import "../../scss/colors";

.statistics {
  height: 100%;
  margin: 0 2rem;

  &__confetti {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__wrapper {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 0;
      font-weight: 900;
    }

    svg {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  &__arrow-left {
    margin-right: 2rem;
  }

  &__arrow-right {
    margin-left: 2rem;
    transform: rotate(180deg);
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5rem;

    h1 {
      font-style: italic;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.6875rem;
      margin-bottom: 1rem;
    }

    span {
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
      color: $color-black;
      margin-top: 1rem;
      text-align: center;
    }
  }

  &__chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 880px;
    min-height: 320px;
    margin: 0 auto 3.5rem auto;
  }
}

@media all and (min-width: $breakpoint-m) {
  .statistics {
    margin: 0 10.6875rem;

    &__stats {
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__chart-container {
      min-height: 250px;
    }
  }
}
